@import 'src/ui/styles/tools/functions';
@import 'src/ui/styles/tools/mixins/fonts';

.flowerContainer {
  position: relative;
  width: 300px;
  text-align: center;
  overflow: hidden;
}

.flowerContainer:hover {
  cursor: pointer;
}

.heightInCm {
  position: absolute;
  top: 0;
  right: 0;
  padding: toRem(4) toRem(8);

  background-color: var(--color-primary-light);

  z-index: var(--z-index-3);
}

.imageWrapper {
  position: relative;
  display: flex;

  overflow: hidden;
}

.imageFantasy {
  position: absolute;
  height: 100%;
  width: 100%;

  display: grid;
  place-items: center;

  background-color: var(--color-primary);
  color: var(--color-light);
  @include font-xl-light;

  z-index: var(--z-index-2);

  opacity: 0;
  transition: 0.4s;
}

.image {
  width: 100%;
  background-color: var(--color-dark);
  transition: 0.4s;
  object-fit: cover;
}

.flowerContainer:hover .imageFantasy {
  opacity: 0.7;
}

.flowerContainer:hover .image {
  transform: scale(1.8) rotate(10deg);
  filter: grayscale(0.8);
}

.infoContainer {
  padding: toRem(16) 0 toRem(8) 0;
}
