.mainHeader {
    margin-bottom: var(--space-md);
    padding: var(--space-md) 0;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    --logo-height: 50px;
    --logo-font-size: var(--font-size-xl);

    width: fit-content;

    display: flex;
    align-items: center;
    gap: var(--space-md);

    cursor: pointer;
}

.logoImage {
    height: var(--logo-height);
}

.logoName {
    font-size: var(--logo-font-size);
    font-weight: var(--font-weight-lg);
    color: var(--color-secondary);
}

.themeButton {
    display: grid;
    place-items: center;
    width: 30px;
    height: 30px;
    padding: 0;
    border-radius: 50%;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.themeButton:hover {
    background-color: var(--flower-card-background-color) !important;
}

.detailsContainer {
    display: flex;
}

.imageWrapper {
    width: 50%;
    padding: 0 var(--space-md);
    display: flex;
    justify-content: right;
}

.image {
    width: 60%;
    background-color: var(--flower-card-background-color);
    object-fit: cover;
}

@media (max-width: 646px) {
    .detailsContainer {
        flex-direction: column;
    }

    .imageWrapper {
        width: 100%;
        padding: 0;
    }

    .image {
        width: 100%;
    }
}

.infoContainer {
    width: 50%;
    padding: 0 var(--space-md);
}

.name {
    font-size: var(--font-size-xl);
}

.binomialName {
    margin-top: var(--space-sm);
    font-size: var(--font-size-lg);
    color: var(--color-gray);
}

.price {
    margin-top: var(--space-md);
    font-size: var(--font-size-xl);
    font-weight: var(--font-weight-lg);
    color: var(--color-primary);
}

.heightInCm {
    margin-top: var(--space-md);
    font-size: var(--font-size-lg);
}

.wateringsPerWeek {
    margin-top: var(--space-md);
    font-size: var(--font-size-lg);
}

.fertilizerType {
    margin-top: var(--space-md);
    font-size: var(--font-size-lg);
}

@media (max-width: 646px) {
    .infoContainer {
        width: 100%;
        padding: var(--space-md) 0;
    }

    .name,
    .binomialName,
    .price {
        text-align: center;
    }
}