.container {
  max-width: var(--container-max-width);
  margin: 0 auto var(--space-xl) auto;
  padding: 0 var(--space-md);
}

.mainHeader {
  margin-bottom: var(--space-md);
  padding: var(--space-md) 0;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  --logo-height: 50px;
  --logo-font-size: var(--font-size-xl);

  width: fit-content;

  display: flex;
  align-items: center;
  gap: var(--space-md);

  cursor: pointer;
}

.logoImage {
  height: var(--logo-height);
}

.logoName {
  font-size: var(--logo-font-size);
  font-weight: var(--font-weight-lg);
  color: var(--color-secondary);
}

.inputWrapper {
  width: 100%;
  margin-bottom: var(--space-xl);
  padding: 0 12rem;
}

.input {
  width: 100%;
  padding: var(--space-md);
  border: none;
  background-color: transparent;
  border-bottom: 2px solid var(--color-gray);
  font-size: var(--font-size-lg);
  color: var(--color-gray);
}

.input::placeholder {
  color: var(--color-gray);
}

.input:focus-visible {
  outline: none;
}

@media (max-width: 646px) {
  .inputWrapper {
    padding: 0 var(--space-lg);
  }
}

.flowers {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;

  @media (min-width: 768px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (min-width: 1024px) {
    grid-template-columns: repeat(3, 1fr);
  }

  @media (min-width: 1280px) {
    grid-template-columns: repeat(4, 1fr);
  }
}

.flowerContainer {
  --article-width: 300px;

  position: relative;
  width: var(--article-width);
  text-align: center;
  overflow: hidden;
}

.flowerContainer:hover {
  cursor: pointer;
}

.heightInCm {
  position: absolute;
  top: 0;
  right: 0;
  padding: var(--space-xs) var(--space-sm);

  font-weight: var(--font-weight-lg);
  color: white;

  background-color: var(--color-primary);

  z-index: 10;
}

.imageWrapper {
  position: relative;
  display: flex;

  overflow: hidden;
}

.imageFantasy {
  position: absolute;
  height: 100%;
  width: 100%;

  display: grid;
  place-items: center;

  background-color: var(--color-secondary);
  color: var(--color-white);
  font-size: var(--font-size-xxl);

  z-index: 9;

  opacity: 0;
  transition: var(--animation-transition);
}

.image {
  width: 100%;
  background-color: var(--flower-card-background-color);
  transition: var(--animation-transition);
  object-fit: cover;
}

.flowerContainer:hover .imageFantasy {
  opacity: 0.7;
}

.flowerContainer:hover .image {
  transform: scale(1.8) rotate(10deg);
  filter: grayscale(0.8);
}

.infoContainer {
  padding: var(--space-md) 0 var(--space-sm) 0;
}

.name {
  font-size: var(--font-size-lg);
}

.binomialName {
  font-size: var(--font-size-md);
  color: var(--color-gray);
}

.price {
  margin-top: var(--space-sm);
  font-size: var(--font-size-lg);
  color: var(--color-primary);
}