@import 'src/ui/styles/tools/mediaQueries';
@import 'src/ui/styles/tools/functions';
@import 'src/ui/styles/tools/mixins/gridLayout';
@import 'src/ui/styles/tools/mixins/containers';

.mainHeader {
  margin-bottom: toRem(16);
  padding: toRem(16) 0;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.detailsContainer {
  @include gridLayout;
  @include contentContainer;
}

.imageWrapper {
  @include fullWidthContainer;
  grid-column: 1 / -1;
  padding: 0;

  @media #{$fromLaptop} {
    grid-column: 1 / span 8;
    display: flex;
    justify-content: right;

    margin-left: unset;
    margin-right: unset;
    width: 100%;
  }

  @media #{$fromDesktop} {
    grid-column: 1 / span 6;
    padding: 0 toRem(16);
  }
}

.image {
  background-color: var(--color-dark);
  object-fit: cover;
  width: 100%;

  @media #{$fromLaptop} {
    width: unset;
  }
}

.infoContainer {
  grid-column: 1 / -1;
  width: 100%;

  @media #{$fromLaptop} {
    grid-column: 9 / -1;
  }

  @media #{$fromDesktop} {
    grid-column: 7 / -1;
  }
}
