@import 'src/ui/styles/tools/mediaQueries';
@import 'src/ui/styles/tools/functions';
@import 'src/ui/styles/tools/mixins/containers';
@import 'src/ui/styles/tools/mixins/fonts';

.container {
  @include contentContainer;
}

.mainHeader {
  margin-bottom: toRem(16);
  padding: toRem(16) 0;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  width: fit-content;

  display: flex;
  align-items: center;
  gap: toRem(16);

  cursor: pointer;
}

.logoName {
  @include font-l-normal;
  color: var(--color-primary);
}

.inputWrapper {
  width: 100%;
  margin-bottom: toRem(64);
  padding: 0 toRem(192);
}

.input {
  width: 100%;
  padding: toRem(16);
  border: none;
  background-color: transparent;
  border-bottom: toRem(2) solid var(--color-soft);
  @include font-m-light;
  color: var(--color-dark);
}

.input::placeholder {
  color: var(--color-soft);
}

.input:focus-visible {
  outline: none;
}

@media #{$onlyMobile} {
  .inputWrapper {
    padding: 0 toRem(32);
  }
}

.flowers {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;

  @media #{$fromLaptop} {
    grid-template-columns: repeat(2, 1fr);
  }

  @media #{$fromDesktop} {
    grid-template-columns: repeat(3, 1fr);
  }

  @media #{$fromBigDesktop} {
    grid-template-columns: repeat(4, 1fr);
  }
}

.flowerContainer {
  position: relative;
  width: 300px;
  text-align: center;
  overflow: hidden;
}

.flowerContainer:hover {
  cursor: pointer;
}

.heightInCm {
  position: absolute;
  top: 0;
  right: 0;
  padding: toRem(4) toRem(8);

  font-weight: 600;
  color: white;

  background-color: var(--color-primary-light);

  z-index: 10;
}

.imageWrapper {
  position: relative;
  display: flex;

  overflow: hidden;
}

.imageFantasy {
  position: absolute;
  height: 100%;
  width: 100%;

  display: grid;
  place-items: center;

  background-color: var(--color-primary);
  color: var(--color-light);
  @include font-xl-light;

  z-index: 9;

  opacity: 0;
  transition: 0.4s;
}

.image {
  width: 100%;
  background-color: var(--color-dark);
  transition: 0.4s;
  object-fit: cover;
}

.flowerContainer:hover .imageFantasy {
  opacity: 0.7;
}

.flowerContainer:hover .image {
  transform: scale(1.8) rotate(10deg);
  filter: grayscale(0.8);
}

.infoContainer {
  padding: toRem(16) 0 toRem(8) 0;
}

.name {
  @include font-m-normal;
}

.binomialName {
  @include font-s-light;
  color: var(--color-soft);
}

.price {
  margin-top: toRem(8);
  @include font-m-light;
  color: var(--color-primary-light);
}
